{% extends 'layout/layout.html.twig' %}
{% block body %}
{{parent() }}
<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">
				<h2 class="padding-none">Symplifica</h2>
			</div>
			 <h2>Sistema nomina</h2>
       <p>Actualmente Symplifica es una empresa que se encarga de liquidar la nómina de los empleados que prestan servicios domésticos a personas naturales.</p>
       <p>Para su funcionamiento, Symplifica requiere un sistema que le permita capturar la información de los empleadores y sus respectivos empleados.</p>
  </div>
   </div>
 {% endblock %}